.brand {
    display: flex;
    margin: 0 0 63px;

    .brand__title-wrp {
        flex-grow: 1;
        background-color: $pink-bkg;
        display: flex;
        align-items: center;
        padding: 0 0 0 92px;
    }

    .brand__title {
        @include font(48px, 58px, 900);
        // font-size: 48px;
        // font-weight: 900;
        // line-height: 58px;
        text-transform: uppercase;
    }

    .brand__subtitle {
        @include font(32px, 38px, 700);
        // font-size: 32px;
        // font-style: normal;
        // font-weight: 700;
        // line-height: 38px;
        display: block;
    }

    .brand__subtitle-pink {
        color: $pink-color;
    }
}